#Page1{
	text-align:center; 
	padding:170px
	color:white;
}

body{
	/* background-image: url("./background.gif");
	background-size:cover; */
}
#Page2{
	display:none;
}

.movieListItem:hover {
	color: green;
	font-weight: bold;
	font-size: 15px;

}